body
{
    background-color: rgb(255, 255, 255);
    font-family: 'Lato', sans-serif;
}

button
{ 
    display: flex;
    background-color: rgb(255, 204, 0);
    color: black;
    border-width: 5px;
    width: 100%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
    justify-content: space-around;
    margin-top: 10px;
    padding: 12px 30px;
}

button:hover
{
    background-color: rgb(251, 169, 45);
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    box-shadow: 5px 5px 3px black;
}

.header
{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    display: block;
    padding: 2rem;
    background-color: rgb(53, 53, 53);
    border-radius: 10px;
    margin-bottom: 25px; 
}

.home img {
    display: flex;
    display: block;
    width: 100%;
}

.login-and-register {
    display: flex;
    color: white;
    background: rgb(251, 169, 45);
    padding: 1rem;
    width: 50%;
    border-radius: 5px;
    align-items: center; 
    justify-content: center;
}

.sr-only {
    display: flex;
    padding: 1rem;
    color: rgb(251, 169, 45);
    justify-content: flex-start;
}

